In [1]:
 # Imports
import pandas as pd
from pathlib import Path
import tensorflow as tf
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder

In [ ]:
#Prepare data

In [2]:
 # Read the applicants_data.csv file from the Resources folder into a Pandas DataFrame
applicant_data_df = pd.read_csv(
    Path("/Resources/applicants_data.csv")
)
# Review the DataFrame
applicant_data_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [4]:
# Review the data types associated with the columns
applicant_data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34299 entries, 0 to 34298
Data columns (total 12 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   EIN                     34299 non-null  int64
 1   NAME                    34299 non-null  object
 2   APPLICATION_TYPE        34299 non-null  object
 3   AFFILIATION             34299 non-null  object
 4   CLASSIFICATION          34299 non-null  object
 5   USE_CASE                34299 non-null  object
 6   ORGANIZATION            34299 non-null  object
 7   STATUS                  34299 non-null  int64
 8   INCOME_AMT              34299 non-null  object
 9   SPECIAL_CONSIDERATIONS  34299 non-null  object
 10  ASK_AMT                 34299 non-null  int64
 11  IS_SUCCESSFUL           34299 non-null  int64
dtypes: int64(4), object(8)
memory usage: 3.1+ MB

In [3]:
# Review the data types associated with the columns
applicant_data_df.dtypes

EIN                        int64
NAME                      object
APPLICATION_TYPE          object
AFFILIATION               object
CLASSIFICATION            object
USE_CASE                  object
ORGANIZATION              object
STATUS                     int64
INCOME_AMT                object
SPECIAL_CONSIDERATIONS    object
ASK_AMT                    int64
IS_SUCCESSFUL              int64
dtype: object

In [4]:
# Drop the 'EIN' and 'NAME' columns from the DataFrame
applicant_data_df = applicant_data_df.drop(columns=["EIN","NAME"])

# Review the DataFrame
applicant_data_df

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [5]:
# Create a list of categorical variables 
categorical_variables = list(applicant_data_df.dtypes[applicant_data_df.dtypes == "object"].index)

# Display the categorical variables list
categorical_variables

['APPLICATION_TYPE',
 'AFFILIATION',
 'CLASSIFICATION',
 'USE_CASE',
 'ORGANIZATION',
 'INCOME_AMT',
 'SPECIAL_CONSIDERATIONS']

In [6]:
 # Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

In [7]:
# Encode the categorcal variables using OneHotEncoder
encoded_data = enc.fit_transform(applicant_data_df[categorical_variables])

In [8]:
# Create a DataFrame with the encoded variables
encoded_df = pd.DataFrame(
    encoded_data,
    columns = enc.get_feature_names(categorical_variables)
)
# Review the DataFrame
encoded_df.head()

C:\Users\owner\anaconda3\envs\mlenv\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T25,APPLICATION_TYPE_T29,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [9]:
# Add the numerical variables from the original DataFrame to the one-hot encoding DataFrame

#first make numerical_variable df
numerical_variables_df = applicant_data_df.drop(columns = categorical_variables)

# Review the DataFrame
numerical_variables_df.head()

   STATUS  ASK_AMT  IS_SUCCESSFUL
0       1     5000              1
1       1   108590              1
2       1     5000              0
3       1     6692              1
4       1   142590              1

In [10]:
# Add the numerical variables from the original DataFrame to the one-hot encoding DataFrame
encoded2_df = pd.concat(
    [
        numerical_variables_df,
        encoded_df
    ],
    axis=1
)

# Review the Dataframe
encoded2_df

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34295,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34296,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34297,1,5000,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34298,1,36500179,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0

In [ ]:
# Step 5: Using the preprocessed data, create the features (X) and target (y) datasets. 
#The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. 
#The remaining columns should define the features dataset.

In [11]:
# Define the target set y using the IS_SUCCESSFUL column
y = encoded2_df["IS_SUCCESSFUL"]

# Display a sample of y
y[:5]

0    1
1    1
2    0
3    1
4    1
Name: IS_SUCCESSFUL, dtype: int64

In [12]:
# Define features set X by selecting all columns but IS_SUCCESSFUL
X = encoded2_df.drop(columns=["IS_SUCCESSFUL"])

# Review the features DataFrame
X.head()

,STATUS,ASK_AMT,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [13]:
# Split the preprocessed data into a training and testing dataset
# Assign the function a random_state equal to 1
X_train, X_test, y_train, y_test = train_test_split(X,y,random_state=1)

In [14]:
 # Create a StandardScaler instance
scaler = StandardScaler()

# Fit the scaler to the features training dataset
X_scaler = scaler.fit(X_train)

# Fit the scaler to the features training dataset
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [ ]:
#Compile and Evaluate a Binary Classification Model Using a Neural Network

In [ ]:
#Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

In [15]:
 # Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

116

In [16]:
 # Define the number of neurons in the output layer
number_output_neurons = 1

In [17]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1 =  50

# Review the number hidden nodes in the first layer
hidden_nodes_layer1

50

In [18]:
# Define the number of hidden nodes for the second hidden layer
hidden_nodes_layer2 =  20

# Review the number hidden nodes in the second layer
hidden_nodes_layer2

20

In [19]:
# Create the Sequential model instance
nn = Sequential()

In [20]:
# Add the first hidden layer
nn.add(Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu"))

In [21]:
 # Add the second hidden layer
nn.add(Dense(units=hidden_nodes_layer2, activation="relu"))

In [22]:
# Add the output layer to the model specifying the number of output neurons and activation function
nn.add(Dense(units=1, activation="relu"))

In [23]:
# Display the Sequential model summary
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 50)                5850

 dense_1 (Dense)             (None, 20)                1020

 dense_2 (Dense)             (None, 1)                 21

=================================================================
Total params: 6,891
Trainable params: 6,891
Non-trainable params: 0
_________________________________________________________________

In [ ]:
#Compile and fit the model using the binary_crossentropy loss function, the adam optimizer, and the accuracy evaluation metric

In [24]:
# Compile the Sequential model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [25]:
 # Fit the model using 50 epochs and the training data
fit_model = nn.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
804/804 [==============================] - 3s 2ms/step - loss: 1.2428 - accuracy: 0.6632
Epoch 2/50
804/804 [==============================] - 2s 2ms/step - loss: 0.8724 - accuracy: 0.7040
Epoch 3/50
804/804 [==============================] - 2s 2ms/step - loss: 0.8543 - accuracy: 0.7212
Epoch 4/50
804/804 [==============================] - 2s 3ms/step - loss: 0.8600 - accuracy: 0.7069
Epoch 5/50
804/804 [==============================] - 3s 3ms/step - loss: 0.7833 - accuracy: 0.7233
Epoch 6/50
804/804 [==============================] - 2s 2ms/step - loss: 0.7835 - accuracy: 0.7174
Epoch 7/50
804/804 [==============================] - 2s 2ms/step - loss: 0.7837 - accuracy: 0.7227
Epoch 8/50
804/804 [==============================] - 2s 2ms/step - loss: 0.7930 - accuracy: 0.7256
Epoch 9/50
804/804 [==============================] - 2s 2ms/step - loss: 0.7643 - accuracy: 0.7260
Epoch 10/50
804/804 [==============================] - 2s 3ms/step - loss: 0.7675 - accuracy: 0.7264
Epoch 11/50
804/804 [==============================] - 2s 2ms/step - loss: 0.7702 - accuracy: 0.7264
Epoch 12/50
804/804 [==============================] - 2s 2ms/step - loss: 0.7620 - accuracy: 0.7243
Epoch 13/50
804/804 [==============================] - 2s 2ms/step - loss: 0.7168 - accuracy: 0.7281
Epoch 14/50
804/804 [==============================] - 2s 2ms/step - loss: 0.7326 - accuracy: 0.7278
Epoch 15/50
804/804 [==============================] - 2s 3ms/step - loss: 0.7210 - accuracy: 0.7266
Epoch 16/50
804/804 [==============================] - 3s 3ms/step - loss: 0.7155 - accuracy: 0.7316
Epoch 17/50
804/804 [==============================] - 2s 2ms/step - loss: 0.7194 - accuracy: 0.7290
Epoch 18/50
804/804 [==============================] - 2s 2ms/step - loss: 0.7164 - accuracy: 0.7258
Epoch 19/50
804/804 [==============================] - 2s 3ms/step - loss: 0.7188 - accuracy: 0.7271
Epoch 20/50
804/804 [==============================] - 2s 2ms/step - loss: 0.7116 - accuracy: 0.7285
Epoch 21/50
804/804 [==============================] - 2s 2ms/step - loss: 0.7052 - accuracy: 0.7325
Epoch 22/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6986 - accuracy: 0.7317
Epoch 23/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6908 - accuracy: 0.7327
Epoch 24/50
804/804 [==============================] - 2s 2ms/step - loss: 0.7054 - accuracy: 0.7324
Epoch 25/50
804/804 [==============================] - 2s 2ms/step - loss: 0.7077 - accuracy: 0.7241
Epoch 26/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6929 - accuracy: 0.7280
Epoch 27/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6892 - accuracy: 0.7306
Epoch 28/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6920 - accuracy: 0.7334
Epoch 29/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6979 - accuracy: 0.7286
Epoch 30/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6968 - accuracy: 0.7313
Epoch 31/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6924 - accuracy: 0.7325
Epoch 32/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6856 - accuracy: 0.7330
Epoch 33/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6870 - accuracy: 0.7312
Epoch 34/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6819 - accuracy: 0.7327
Epoch 35/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6759 - accuracy: 0.7336
Epoch 36/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6788 - accuracy: 0.7333
Epoch 37/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6893 - accuracy: 0.7329
Epoch 38/50
804/804 [==============================] - 2s 2ms/step - loss: 0.7003 - accuracy: 0.7305
Epoch 39/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6968 - accuracy: 0.7300
Epoch 40/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6840 - accuracy: 0.7287
Epoch 41/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6793 - accuracy: 0.7341
Epoch 42/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6817 - accuracy: 0.7332
Epoch 43/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6735 - accuracy: 0.7334
Epoch 44/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6841 - accuracy: 0.7294
Epoch 45/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6764 - accuracy: 0.7337
Epoch 46/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6844 - accuracy: 0.7338
Epoch 47/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6871 - accuracy: 0.7302
Epoch 48/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6865 - accuracy: 0.7346
Epoch 49/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6952 - accuracy: 0.7317
Epoch 50/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6891 - accuracy: 0.7349

In [26]:
# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.6776 - accuracy: 0.7291 - 579ms/epoch - 2ms/step
Loss: 0.6775747537612915, Accuracy: 0.7290962338447571

In [27]:
 # Set the model's file path
file_path = Path("/Output/nn1_venture.h5")

# Export your model to a HDF5 file
nn.save(file_path)

In [ ]:
#OPTIMIZE THE NEURAL NETWORK MODEL

In [ ]:
#ALTERNATE MODEL 1

In [28]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

116

In [29]:
# Define the number of neurons in the output layer
number_output_neurons_A1 = 1

In [30]:
 # Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A1 = (number_input_features + 1) // 2 

# Review the number of hidden nodes in the first layer
hidden_nodes_layer1_A1

58

In [31]:
# Create the Sequential model instance
nn_A1 = Sequential()

In [32]:
 # First hidden layer
nn_A1.add(Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu"))


# Output layer
nn_A1.add(Dense(units=1, activation="sigmoid"))


# Check the structure of the model
nn_A1.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_3 (Dense)             (None, 50)                5850

 dense_4 (Dense)             (None, 1)                 51

=================================================================
Total params: 5,901
Trainable params: 5,901
Non-trainable params: 0
_________________________________________________________________

In [33]:
# Compile the Sequential model
nn_A1.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [34]:
# Fit the model using 50 epochs and the training data
fit_model_A1 = nn_A1.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
804/804 [==============================] - 3s 2ms/step - loss: 0.5836 - accuracy: 0.7162
Epoch 2/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5566 - accuracy: 0.7287
Epoch 3/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5526 - accuracy: 0.7303
Epoch 4/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5512 - accuracy: 0.7299
Epoch 5/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5493 - accuracy: 0.7318
Epoch 6/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5492 - accuracy: 0.7315
Epoch 7/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5486 - accuracy: 0.7314
Epoch 8/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5475 - accuracy: 0.7315
Epoch 9/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5470 - accuracy: 0.7323
Epoch 10/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5464 - accuracy: 0.7311
Epoch 11/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5452 - accuracy: 0.7324
Epoch 12/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5456 - accuracy: 0.7320
Epoch 13/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5454 - accuracy: 0.7329
Epoch 14/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5451 - accuracy: 0.7331
Epoch 15/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5441 - accuracy: 0.7329
Epoch 16/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5440 - accuracy: 0.7338
Epoch 17/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5439 - accuracy: 0.7334
Epoch 18/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5439 - accuracy: 0.7331
Epoch 19/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5431 - accuracy: 0.7339
Epoch 20/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5430 - accuracy: 0.7343
Epoch 21/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5424 - accuracy: 0.7343
Epoch 22/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5433 - accuracy: 0.7345
Epoch 23/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5419 - accuracy: 0.7348
Epoch 24/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5425 - accuracy: 0.7339
Epoch 25/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5420 - accuracy: 0.7344
Epoch 26/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5419 - accuracy: 0.7339
Epoch 27/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5419 - accuracy: 0.7355
Epoch 28/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5414 - accuracy: 0.7338
Epoch 29/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5414 - accuracy: 0.7352
Epoch 30/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5412 - accuracy: 0.7352
Epoch 31/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5410 - accuracy: 0.7354
Epoch 32/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5405 - accuracy: 0.7355
Epoch 33/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5409 - accuracy: 0.7349
Epoch 34/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5407 - accuracy: 0.7356
Epoch 35/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5404 - accuracy: 0.7349
Epoch 36/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5401 - accuracy: 0.7357
Epoch 37/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5404 - accuracy: 0.7352
Epoch 38/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5396 - accuracy: 0.7364
Epoch 39/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5402 - accuracy: 0.7343
Epoch 40/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5402 - accuracy: 0.7356
Epoch 41/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5391 - accuracy: 0.7357
Epoch 42/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5397 - accuracy: 0.7356
Epoch 43/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5395 - accuracy: 0.7362
Epoch 44/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5397 - accuracy: 0.7362
Epoch 45/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5387 - accuracy: 0.7370
Epoch 46/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5394 - accuracy: 0.7366
Epoch 47/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5390 - accuracy: 0.7354
Epoch 48/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5394 - accuracy: 0.7354
Epoch 49/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5387 - accuracy: 0.7372
Epoch 50/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5387 - accuracy: 0.7367

In [ ]:
#ALTERNATE MODEL 2

In [35]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

116

In [36]:
# Define the number of neurons in the output layer
number_output_neurons_A2 =1

In [37]:
# Define the number of hidden nodes for the first hidden layer (2/3 of input layer + output layer) ???
hidden_nodes_layer1_A2 = ((number_input_features + 1) / 3) * 2 + 1

# Review the number of hidden nodes in the first layer
hidden_nodes_layer1_A2

79.0

In [38]:
 # Create the Sequential model instance
nn_A2 = Sequential()

In [39]:
 # First hidden layer
nn_A2.add(Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu"))

# Output layer
nn_A2.add(Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn_A2.summary()

Model: "sequential_2"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_5 (Dense)             (None, 50)                5850

 dense_6 (Dense)             (None, 1)                 51

=================================================================
Total params: 5,901
Trainable params: 5,901
Non-trainable params: 0
_________________________________________________________________

In [40]:
 # Compile the model
nn_A2.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [41]:
# Fit the model
fit_model_A2 = nn_A2.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5869 - accuracy: 0.7172
Epoch 2/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5591 - accuracy: 0.7296
Epoch 3/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5541 - accuracy: 0.7292
Epoch 4/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5517 - accuracy: 0.7297
Epoch 5/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5502 - accuracy: 0.7292
Epoch 6/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5487 - accuracy: 0.7312
Epoch 7/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5485 - accuracy: 0.7317
Epoch 8/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5474 - accuracy: 0.7320
Epoch 9/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5467 - accuracy: 0.7327
Epoch 10/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5454 - accuracy: 0.7331
Epoch 11/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5453 - accuracy: 0.7333
Epoch 12/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5451 - accuracy: 0.7321
Epoch 13/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5448 - accuracy: 0.7325
Epoch 14/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5446 - accuracy: 0.7330
Epoch 15/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5442 - accuracy: 0.7322
Epoch 16/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5439 - accuracy: 0.7331
Epoch 17/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5434 - accuracy: 0.7341
Epoch 18/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5431 - accuracy: 0.7331
Epoch 19/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5424 - accuracy: 0.7348
Epoch 20/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5426 - accuracy: 0.7354
Epoch 21/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5424 - accuracy: 0.7337
Epoch 22/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5421 - accuracy: 0.7335
Epoch 23/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5412 - accuracy: 0.7346
Epoch 24/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5421 - accuracy: 0.7339
Epoch 25/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5416 - accuracy: 0.7357
Epoch 26/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5412 - accuracy: 0.7351
Epoch 27/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5412 - accuracy: 0.7345
Epoch 28/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5406 - accuracy: 0.7354
Epoch 29/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5409 - accuracy: 0.7338
Epoch 30/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5403 - accuracy: 0.7358
Epoch 31/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5405 - accuracy: 0.7360
Epoch 32/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5403 - accuracy: 0.7348
Epoch 33/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5400 - accuracy: 0.7361
Epoch 34/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5400 - accuracy: 0.7360
Epoch 35/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5392 - accuracy: 0.7368
Epoch 36/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5397 - accuracy: 0.7365
Epoch 37/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5397 - accuracy: 0.7364
Epoch 38/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5396 - accuracy: 0.7367
Epoch 39/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5395 - accuracy: 0.7360
Epoch 40/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5386 - accuracy: 0.7362
Epoch 41/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5392 - accuracy: 0.7355
Epoch 42/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5389 - accuracy: 0.7348
Epoch 43/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5388 - accuracy: 0.7362
Epoch 44/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5384 - accuracy: 0.7374
Epoch 45/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5390 - accuracy: 0.7369
Epoch 46/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5385 - accuracy: 0.7367
Epoch 47/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5381 - accuracy: 0.7380
Epoch 48/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5386 - accuracy: 0.7368
Epoch 49/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5381 - accuracy: 0.7365
Epoch 50/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5379 - accuracy: 0.7380

In [ ]:
#Display the accuracy scores achieved by each model, and compare the results.

In [42]:
 print("Original Model Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Original Model Results
268/268 - 0s - loss: 0.6776 - accuracy: 0.7291 - 401ms/epoch - 1ms/step
Loss: 0.6775747537612915, Accuracy: 0.7290962338447571

In [43]:
print("Alternative Model 1 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_A1.evaluate(X_test_scaled,y_test,verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Alternative Model 1 Results
268/268 - 1s - loss: 0.5571 - accuracy: 0.7310 - 555ms/epoch - 2ms/step
Loss: 0.5570870637893677, Accuracy: 0.7309620976448059

In [44]:
print("Alternative Model 2 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_A2.evaluate(X_test_scaled,y_test,verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Alternative Model 2 Results
268/268 - 1s - loss: 0.5629 - accuracy: 0.7291 - 539ms/epoch - 2ms/step
Loss: 0.5628674030303955, Accuracy: 0.7290962338447571

In [45]:
# Set the file path for the first alternative model
file_path = Path("/Output/nn_A1_venture.h5")

# Export your model to a HDF5 file
nn_A1.save(file_path)

In [46]:
# Set the file path for the second alternative model
file_path = Path("/Output/nn_A2_venture.h5")

# Export your model to a HDF5 file
nn_A2.save(file_path)